<div class="row user">
  <div class="col-sm-6">
    <p><%= user.username %></p>
  </div>
  <div class="col-sm-6">
    <%= link_to "Message #{user.first_name}", conversation_path(user) %>
  </div>
</div>
