<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2>Conversation with <%= @conversation.recipient.full_name %></h2>
    </div>
  </div>
  <div id="messages">
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    getMessages(<%= @conversation.id %>);
  });
</script>
