// Buttons
$button-main: #05aebf;
$button-hover: #04c669;

// Links
$link-main: #1aaeae;
$link-hover: darken($link-main, 15%);

// Navbar
$navbar: #3d84b3;
$nav-link: white;
$nav-link-hover: #f7fb28;

// Highlight
$highlight-green: #0db482;

// Errors
$error-message: rgb(191, 23, 11);
