// Mixins

@mixin main-link {
  color: $link-main;

  &:hover {
    color: $link-hover;
    text-decoration: none;
  }

}

@mixin nav-link {
  color: $nav-link;
  letter-spacing: 0.1em;

  &:hover {
    color: $nav-link-hover;
    text-decoration: none;
  }

}

@mixin main-button {
  background: $button-main;
  color: white;
  text-transform: uppercase;
  width: 100px;

  &:hover {
    background: $button-hover;
    color: white;
  }
}
