// ----- FORMS -----

.form-horizontal {
  max-width: 600px;
  margin: 20px auto 0;
}

.submit-btn,
.login-btn {
  background: #05aebf;
  color: black;

  &:hover {
    background: #04c669;
  }
}

// ----- FORM ERRORS -----

.errors  {
  color: rgb(191, 23, 11);
  margin-bottom: 20px;

  ul {
    padding: 0;
  }

  li {
    list-style: none;
  }

}

// ----- CHAT BOX -----

textarea {
  width: 500px;
}

.send-btn {
  vertical-align: top;
}

#messages {
  overflow-y: scroll;
  height: 600px;
}

.message {
  padding-left: 30px;
}
